<!DOCTYPE html>
<html>
   <head>
   		<title>COVID-19 Spread Visualization</title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='d3-tip-master/d3-tip.js')}}"></script>

      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <script src = "{{ url_for('static', filename='state.js')}}"></script>
      <script src = "{{ url_for('static', filename='counties.js')}}"></script>
      <script src = "{{ url_for('static', filename='unemployment.js')}}"></script>
      
  
   </head>

   <body>
   		<h1 style="color:white;"> COVID-19 Spread Visualization </h1>

   		<!-- navigation bar -->
   		<div class="navbar">
        <div class="dropdown">
          <button class="dropbtn"> USA COVID-19 Cases
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a id="USA" href="#" onclick="generateStatePlot(this.id)">Cases Visualized In Different Levels</a>
            <a id="USA_Counties" href="#" onclick="generateCountiesPlot(this.id)">Time Series Data Showing Spread Of COVID-19</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" id="unemp" href="#" onclick="generateEmpPlot(this.id)">USA Unemployment Rate
          </button>
        </div>
        <div class="dropdown">
          <button class="dropbtn" id="India" href="#" onclick="generateStatePlot(this.id)"> India COVID-19 Cases
          </button>
        </div>
      </div>  
      <div class="tooltip" style="opacity: 0;"></div>
   		<div id="graph_plot"></div>
      <div id="slider"></div>
      <script src="https://d3js.org/topojson.v2.min.js"></script>
   </body>
 </html>