<!DOCTYPE html>
<html>
   <head>
   		<title> Mini project #2 </title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='d3-tip-master/d3-tip.js')}}"></script>

      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
      <script src = "{{ url_for('static', filename='state.js')}}"></script>
      <script src = "{{ url_for('static', filename='counties.js')}}"></script>
      <script src = "{{ url_for('static', filename='unemployment.js')}}"></script>
      
  
   </head>

   <body>
   		<h1 style="color:white;"> COVID-19 Visualization </h1>

   		<!-- navigation bar -->
   		<div class="navbar">
        <div class="dropdown">
          <button class="dropbtn"> State Visualization
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a id="USA" href="#" onclick="generateStatePlot(this.id)">USA</a>
            <a id="India" href="#" onclick="generateStatePlot(this.id)">India</a>
            <a id="USA_Pop" href="#" onclick="generateStatePlot(this.id)">USA Population</a>
            <a id="India_Pop" href="#" onclick="generateStatePlot(this.id)">India Population</a>
            <a id="USA_Counties" href="#" onclick="generateCountiesPlot(this.id)">USA Counties</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn"> Unemployment
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a id="unemp" href="#" onclick="generateEmpPlot(this.id)">USA</a>
          </div>
        </div>
      </div>
      <div class="tooltip" style="opacity: 0;"></div>
   		<div id="graph_plot"></div>
      <!-- <div id="bar_plot"></div> -->
     <!--  <button id="county_specific" type="button" style="visibility:hidden;" onclick="generateCountiesPlot(this.id)">See County Specific Cases</button>
      <button id="date_specific" type="button" style="visibility: hidden;" onclick="generateCountiesPlot(this.id)">See Date Specific Cases</button>
      <button id="usa_widespread" type="button" style="visibility: hidden;" onclick="generateCountiesPlot(this.id)">See State Cases</button> -->
      <div id="slider"></div>
      <script src="https://d3js.org/topojson.v2.min.js"></script>
   </body>
 </html>